#home {
	color: #000000;
	padding: 20px 

}
#daily {
	color: #000000;
	padding: 20px 

}
#TMTW {
	color: #000000;
	padding: 20px 

}
#Top {
	color: #000000;
	padding: 20px 

}
#head {
	text-align: center;
	
}
